extends layout

block content
  .container-fluid.nosidepadding.dottedbg.panel#intro(data-section-name='inicio')
    .container-fluid.vertical-center
      .col-md-12.text-center
        .row.justify-content-md-center
          .col-sm-6#hoxware
            img(src='/images/logo.png', class='img-fluid')
  //- ¿Qué pasaría?
  .container-fluid.panel#introinfo(data-section-name='info')
    .container-fluid.vertical-center
      .col-md-12.text-center
          h1 ¿QUÉ PASARÍA SI ALGUIEN ROBA LA <br> <span class="glitch heading" data-text="INFORMACIÓN">INFORMACIÓN</span> DE TU <br> ORGANIZACIÓN?
          h2 <span class="hilite">Afecta tu operatividad, imagen y economía,</span> Siendo una práctica habitual malintencionada
          p <span class="learnmore" data-toggle="collapse" data-target="#masinfo"> SABER MÁS </span>
          .collapse#masinfo.text-left
            .row.justify-content-md-center
              .col-md-10
                p El robo y el secuestro de información es muy común y afecta hoy en día a muchas organizaciones.
                p Explotando vulnerabilidades existentes:
                .row
                  .col.boxline
                    p.justify Obtienen información sensible que es utilizada para lucrar de manera ilícita.
                  .col.boxline
                    p.justify Secuestran datos mediante encriptación obligando a pagar para poder recuperarlos.
                  .col.boxline
                    p.justify Utilizan la información para realizar sabotaje industrial.
  //- Daños    
  .container-fluid.panel#damage(data-section-name='daños')
    .container-fluid.vertical-center
      .col-md-12.text-center
        .headcontainer
          h1 El daño operativo puede <br>ocasionar incumplimiento<br> en compromisos<br> y servicios
          p <span class="learnmore" data-toggle="collapse" data-target="#masdedamage"> SABER MÁS </span>
          .collapse#masdedamage.text-left
            .row.justify-content-md-center
              .col-md-6.boxline
                h2.justify Actualmente existen regulaciones como la <span>ley de protección de datos personales en posesión de los particulares</span>, en donde no contar con los esquemas de ciberseguridad correctos puede conllevar al incumplimiento de la misma haciendo acreedora a la organización a sanciones monetarias.
  //- Protección
  .container-fluid.panel#shield(data-section-name='protección')
    .container-fluid.vertical-center
      .col-md-12.text-center
        .headcontainer
          h1 <span>Hoxware</span> brinda<br> protección a tus recursos,<br> identificando y eliminando<br>amenazas
          p <span class="learnmore" data-toggle="collapse" data-target="#masproteccion" id="shieldmore"> SABER MÁS </span>
          .collapse#masproteccion
            .container
              .row.justify-content-md-center
                .col-md-8
                  h2 Nuestro equipo especializado y certificado en ciberseguridad se enfoca en colaborar con las organizaciones, empresas o negocios para prevenir actividades maliciosas.
                  .row
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin Ethical Hacking Certification | EC-Council
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin Computer Hacking Forensic Investigator Certification | EC-Council
                  .row
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin CCNP Routing & Switching
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin CCNA Routing & Switching
                  .row
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin CTFL | ISTQB
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin ITIL V3 Foundation
  //- Servicios
  .container-fluid.padding-vertical.panel#services(data-section-name='servicios')
    .container
      .row.justify-content-md-center
        .col-md-10
          h2.services Te brindamos la protección que necesitas identificando las amenazas potenciales sobre tus recursos:
            .row.padding-top
              .col.box
                h3.serv Web Pentest
              .col.box
                h3.serv Internal Pentest
              .col.box
                h3.serv WiFi Security Analysis
            .row
              .col.box
                h3.serv Phishing Prevention Campaing
              .col.box
                h3.serv Hardening
              .col.box
                h3.serv Analysis
  
  //- Contacto
  .container-fluid.panel#contact(data-section-name='contacto')
    .container.vertical-center
      .col-md-12.text-center
        h2.contact ¿Vas a esperar hasta perder tu información?
        h3.contact Escríbenos:
              
              
            
      
