extends layout

block content
  .container-fluid.nosidepadding.dottedbg.panel#intro(data-section-name='inicio')
    .container.vertical-center
      .col-md-12.text-center
        .row.justify-content-md-center
          .col-6#hoxware
            img(src='/images/logo.png', class='img-fluid')
  //- ¿Qué pasaría?
  .container-fluid.panel#introinfo(data-section-name='info')
    .container.vertical-center
      .col-md-12.text-center
          h1 ¿QUÉ PASARÍA SI ALGUIEN ROBA LA <br> <span class="glitch heading" data-text="INFORMACIÓN">INFORMACIÓN</span> DE TU <br> ORGANIZACIÓN?
          h2 <span class="hilite">Afecta tu operatividad, imagen y economía,</span> Siendo una práctica habitual malintencionada
          .learnmore <span data-toggle="collapse" data-target="#masinfo"> SABER MÁS </span>
          .collapse#masinfo.text-left
            .row.justify-content-md-center
              .col-md-10
                p El robo y el secuestro de información es muy común y afecta hoy en día a muchas organizaciones.
                p Explotando vulnerabilidades existentes:
                .row
                  .col.boxline
                    p.justify Obtienen información sensible que es utilizada para lucrar de manera ilícita.
                  .col.boxline
                    p.justify Secuestran datos mediante encriptación obligando a pagar para poder recuperarlos.
                  .col.boxline
                    p.justify Utilizan la información para realizar sabotaje industrial.
  //- Daños    
  .container-fluid.panel#damage(data-section-name='daños')
    .container.vertical-center
      .col-md-12.text-center
        .userwrap
          #scene(data-relative-input="true", data-hover-only="true", data-calibrate-x="false", data-calibrate-y="true", data-invert-x="false", data-invert-y="false", data-limit-x="false", data-limit-y="false", data-scalar-x="2", data-scalar-y="8", data-friction-x="0.4", data-friction-y="0.8", data-origin-x="0.0", data-origin-y="0.0", data-precision="1", data-pointer-events="false")
            .userinfo.layer(data-depth="0.25")
              p.line1 > Usuario: Ramón<span class="cursor1">_</span>
              p.line2 > Número de cliente: 43<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
            .userinfo.layer(data-depth="0.50")
              p.line1 > Usuario: Patricia<span class="cursor1">_</span>
              p.line2 > Número de cliente: 17<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
            .userinfo.layer(data-depth="0.75")
              p.line1 > Usuario: María<span class="cursor1">_</span>
              p.line2 > Número de cliente: 51<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
            .userinfo.layer(data-depth="1.0")
              p.line1 > Usuario: Diego<span class="cursor1">_</span>
              p.line2 > Número de cliente: 79<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
        .headcontainer
          h1 El daño operativo puede <br>ocasionar incumplimiento<br> en compromisos<br> y servicios
          .learnmore <span data-toggle="collapse" data-target="#masdedamage"> SABER MÁS </span>
          .collapse#masdedamage.text-left
            .row.justify-content-md-center
              .col-md-6.boxline
                h2.justify Actualmente existen regulaciones como la <span>ley de protección de datos personales en posesión de los particulares</span>, en donde no contar con los esquemas de ciberseguridad correctos puede conllevar al incumplimiento de la misma haciendo acreedora a la organización a sanciones monetarias.
  //- Protección
  .container-fluid.panel#shield(data-section-name='protección')
    .container.vertical-center
      .col-md-12.text-center
        .shieldwrap
          #shieldscene(data-relative-input="true", data-hover-only="true", data-calibrate-x="false", data-calibrate-y="true", data-invert-x="false", data-invert-y="false", data-limit-x="false", data-limit-y="false", data-scalar-x="2", data-scalar-y="8", data-friction-x="0.4", data-friction-y="0.8", data-origin-x="0.0", data-origin-y="0.0", data-precision="1", data-pointer-events="false")
            .shieldbinary.justify.layer(data-depth="1.0")
              p.justify.dtext1 01100001 <span>01101100</span> 01101100 01111001 
              p.justify.dtext2 01101111 01110101 01110010 01100010 
              p.justify.dtext3 01100001 01110011 01100101 01100001 
              p.justify.dtext4 01110010 01100101 01100010 01100101 
              p.justify.dtext5 01101100 01101111 01101110 01100111 
              p.justify.dtext6 01110100 01101111 01110101 01110011 
            .shieldbinary.justify.layer(data-depth="0.75")
              p.justify.dtext2 01100001 01101100 01101100 01111001 
              p.justify.dtext3 01101111 01110101 01110010 01100010 
              p.justify.dtext4 01100001 01110011 01100101 01100001 
              p.justify.dtext5 <span>01110010</span> 01100101 01100010 01100101 
              p.justify.dtext6 01101100 01101111 01101110 01100111 
              p.justify.dtext7 01110100 01101111 01110101 01110011 
            .shieldbinary.justify.layer(data-depth="0.25")
              p.justify.dtext3 01100001 <span>01101100</span> 01101100 01111001 
              p.justify.dtext4 01101111 01110101 01110010 01100010 
              p.justify.dtext5 01100001 01110011 01100101 01100001 
              p.justify.dtext6 01110010 01100101 <span>01100010</span> 01100101 
              p.justify.dtext7 01101100 01101111 01101110 01100111 
              p.justify.dtext8 01110100 01101111 01110101 01110011 
        .headcontainer
          h1 <span>Hoxware</span> brinda<br> protección a tus recursos,<br> identificando y eliminando<br>amenazas
          .learnmore <span data-toggle="collapse" data-target="#masproteccion" id="shieldmore"> SABER MÁS </span>
          .collapse#masproteccion
            .container
              .row.justify-content-md-center
                .col-md-8
                  h2 Nuestro equipo especializado y certificado en ciberseguridad se enfoca en colaborar con las organizaciones, empresas o negocios para prevenir actividades maliciosas.
                  .row
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin Ethical Hacking Certification | EC-Council
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin Computer Hacking Forensic Investigator Certification | EC-Council
                  .row
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin CCNP Routing & Switching
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin CCNA Routing & Switching
                  .row
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin CTFL | ISTQB
                    .col-md-6.text-center
                      .tempicon
                      h3.bitter.thin ITIL V3 Foundation
  //- Servicios
  .container-fluid.panel#services(data-section-name='servicios')
    .container.padding-vertical
      .row.justify-content-md-center
        .col-sm-10
          h2.services Te brindamos la protección que necesitas identificando las amenazas potenciales sobre tus recursos:
            .row.padding-top
              .col-lg-4.col-md-6.col-12.nosidepadding
                .box
                  h3.serv Web Pentest
                  p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
              .col-lg-4.col-md-6.col-12.nosidepadding
                .box
                  h3.serv Internal Pentest
                  p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
              .col-lg-4.col-md-6.col-12.nosidepadding
                .box
                  h3.serv WiFi Security Analysis
                  p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
              .col-lg-4.col-md-6.col-12.nosidepadding
                .box
                  h3.serv Phishing Prevention Campaing
                  p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
              .col-lg-4.col-md-6.col-12.nosidepadding
                .box
                  h3.serv Hardening
                  p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
              .col-lg-4.col-md-6.col-12.nosidepadding
                .box
                  h3.serv Analysis
                  p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
  
  //- Contacto
  .container-fluid.dottedbg.panel#contact(data-section-name='contacto')
    .container.vertical-center
      .col-md-12.text-center
        h2.contact ¿Vas a esperar hasta perder tu información?
        h3.contact Escríbenos:
        form#contact.col-center
          .form-group
            input(type='text', class='form-control', id='name', name='name', placeholder='Nombre', autocomplete='false', required='required') 
          .form-group
            input(type='email', class='form-control', id='email', name='email', placeholder='Email', autocomplete='false', required='required') 
          .form-group 
            button(disabled="disabled", id='contactus') Quiero contactarlos
        div.contact.escondido
          .row.justify-content-md-center.text-center
            .col-sm-8.mensaje
              p ¡Ya se envió tu mensaje!
              p Muy pronto nos comunicaremos contigo.
    .container-fluid.dottedbg.panel(data-section-name='contacto2')
      .container.padding-vertical
        .row.justify-content-md-center
          .col-sm-8
            .row
              .col
                a(class="twitter-timeline" data-width="300" data-height="650" data-theme="dark" data-link-color="#D50D0E" href="https://twitter.com/danna_kiedis") Tweets by danna_kiedis
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                //- script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
              .col.contactinfo.padding-vertical
                h4.contact Teléfono:
                p 55-23-24-12
                h4.contact E-mail:
                p contacto@hoxware.com
