extends layout
block content
  include nav
  .container-fluid.nosidepadding.dottedbg.panel#intro(data-section-name='inicio')
    p.item-2.bitter.desk This is your last chance. After this, there is no turning back
    p.item-3.bitter.desk This is your last chance. After this, there is no turning back
    
    .container.vertical-center
      .col-md-12.text-center
        .row.justify-content-center
          .col-md-6.col-12#hoxware
            img(src='/images/logo.png', class='img-fluid')
  //- ¿Qué pasaría?
  .container-fluid.panel#introinfo(data-section-name='info')
    .container.vertical-center
      .col-md-12.text-center
        .row.justify-content-center
          .col-md-9
            h1 ¿QUÉ PASARÍA SI ALGUIEN ROBA LA <br> <span class="glitch">INFORMACIÓN</span> DE TU ORGANIZACIÓN?
        h2 <span class="hilite">Afecta tu operatividad, imagen y economía,</span> Siendo una práctica habitual malintencionada 
        .learnmore <span data-toggle="collapse" data-target="#masinfo"> SABER MÁS </span>
        .collapse#masinfo.text-left
          .row.justify-content-center
            .col-md-10
              p El robo y el secuestro de información es muy común y afecta hoy en día a muchas organizaciones.
              p Explotando vulnerabilidades existentes:
              .row.justify-content-center
                .col-sm-4.col-12
                  .boxline
                    p.text-center Obtienen información sensible que es utilizada para lucrar de manera ilícita.
                .col-sm-4.col-12
                  .boxline
                    p.text-center Secuestran datos mediante encriptación obligando a pagar para poder recuperarlos.
                .col-sm-4.col-12
                  .boxline
                    p.text-center Utilizan la información para realizar sabotaje industrial.
  //- Daños    
  .container-fluid.panel#damage(data-section-name='danos')
    .container.vertical-center
      .col-md-12.text-center
        .userwrap.desk
          #scene(data-relative-input="true", data-hover-only="true", data-calibrate-x="false", data-calibrate-y="true", data-invert-x="false", data-invert-y="false", data-limit-x="false", data-limit-y="false", data-scalar-x="2", data-scalar-y="8", data-friction-x="0.4", data-friction-y="0.8", data-origin-x="0.0", data-origin-y="0.0", data-precision="1", data-pointer-events="false")
            .userinfo.uno.layer(data-depth="0.25")
              p.line1 > Usuario: Ramón<span class="cursor1">_</span>
              p.line2 > Número de cliente: 43<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
            .userinfo.dos.layer(data-depth="0.50")
              p.line1 > Usuario: Patricia<span class="cursor1">_</span>
              p.line2 > Número de cliente: 17<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
            .userinfo.tres.layer(data-depth="0.75")
              p.line1 > Usuario: María<span class="cursor1">_</span>
              p.line2 > Número de cliente: 51<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
            .userinfo.cuatro.layer(data-depth="1.0")
              p.line1 > Usuario: Diego<span class="cursor1">_</span>
              p.line2 > Número de cliente: 79<span class="cursor2">_</span>
              p.line3 > Cantidad de pago: $xxx<span class="cursor3">_</span>
              p.line4 ><span class="cursor4">_</span>
        .row.justify-content-center
          .col-md-9.nosidepadding
            .headcontainer
              h1.typed
              .learnmore <span data-toggle="collapse" data-target="#masdedamage" id="damagemore"> SABER MÁS </span>
              .collapse#masdedamage.text-left
                .row.justify-content-center
                  .col-md-8.boxline
                    h2.justify Actualmente existen regulaciones como la <span>ley de protección de datos personales en posesión de los particulares</span>, en donde no contar con los esquemas de ciberseguridad correctos puede conllevar al incumplimiento de la misma haciendo acreedora a la organización a sanciones monetarias.
  //- Protección
  .container-fluid.panel#shield(data-section-name='proteccion')
    .container.vertical-center
      .col-md-12.text-center
        .shieldwrap.desk
          #shieldscene(data-relative-input="true", data-hover-only="true", data-calibrate-x="false", data-calibrate-y="true", data-invert-x="false", data-invert-y="false", data-limit-x="false", data-limit-y="false", data-scalar-x="2", data-scalar-y="8", data-friction-x="0.4", data-friction-y="0.8", data-origin-x="0.0", data-origin-y="0.0", data-precision="1", data-pointer-events="false")
            .shieldbinary.layer(data-depth="0.75")
              p.bin01
            .shieldbinary.layer(data-depth="0.50")
              p.bin02 
            #last.shieldbinary.layer(data-depth="0.25")
              p.bin03
        .row.justify-content-center
          .col-md-8
            .headcontainer
              h1 <span>Hoxware</span> brinda protección a tus recursos, identificando y eliminando amenazas
              .learnmore <span data-toggle="collapse" data-target="#masproteccion" id="shieldmore"> SABER MÁS </span>
              .collapse#masproteccion
                .container
                  .row.justify-content-center
                    .col-md-12
                      h2 Nuestro equipo especializado y certificado en ciberseguridad se enfoca en colaborar con las organizaciones, empresas o negocios para prevenir actividades maliciosas.
                      .row
                        .col-md-6.text-center
                          .icon1
                          h3.bitter.thin.gray Ethical Hacking Certification | EC-Council
                        .col-md-6.text-center
                          .icon1
                          h3.bitter.thin.gray Computer Hacking Forensic Investigator Certification | EC-Council
                      .row
                        .col-md-6.text-center
                          .icon3
                          h3.bitter.thin.gray CCNP Routing & Switching
                        .col-md-6.text-center
                          .icon3
                          h3.bitter.thin.gray CCNA Routing & Switching
                      .row
                        .col-md-6.text-center
                          .icon2
                          h3.bitter.thin.gray CTFL | ISTQB
                        .col-md-6.text-center
                          .icon4
                          h3.bitter.thin.gray ITIL V3 Foundation
  //- Servicios
  .container-fluid.panel#services(data-section-name='servicios')
    .container.padding-vertical
      .row.justify-content-center
        .col-sm-10
          h2.services Te brindamos la protección que necesitas identificando las amenazas potenciales sobre tus recursos:
            .row.justify-content-center.padding-top
              .col-lg-4.col-md-6.col-10.nosidepadding
                #wp
                  .box
                    .binary
                      p 01101001<span>01110100</span>011100110
                      p 010000001100100011000010
                      p 11011100110011101100101011
                      p 10010011011110111010101110
                      p 0110010000001110100011011
                      .grad
                        p 1100100000011001110110111
                        p 100100000011000010110110
                        p 0011011110110111001100101
                    h3.serv Web Pentest
                  .red
                    h3.serv Web Pentest
                    //- Poner texto de Web Pentest
                    p.bitter.thin Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut nulla a metus finibus pretium ac vitae dui.
              .col-lg-4.col-md-6.col-10.nosidepadding
                #ip
                  .box
                    .binary
                      p 0110100101110100011100110
                      p 010000001100100011000010
                      p 11011100110011101100101011
                      p 10010011011110111010101110
                      p 01100100000<span>01110100</span>011011
                      .grad
                        p 1100100000011001110110111
                        p 100100000011000010110110
                        p 0011011110110111001100101
                    h3.serv Internal Pentest
                  .red
                    h3.serv Internal Pentest
                    //- Poner texto de Internal Pentest
                    p.bitter.thin Sed facilisis justo eget libero porta, eget consectetur lectus cursus. Maecenas id tincidunt magna.
              .col-lg-4.col-md-6.col-10.nosidepadding
                #wsa
                  .box
                    .binary
                      p 0110100101110100011100110
                      p 010000001100100<span>01100001</span>0
                      p 11011100110011101100101011
                      p 10010011011110111010101110
                      p 0110010000001110100011011
                      .grad
                        p 1100100000011001110110111
                        p 100100000011000010110110
                        p 0011011110110111001100101
                    h3.serv WiFi Security Analysis
                  .red
                    h3.serv WiFi Security Analysis
                    //- Poner texto de WiFi Security Analysis
                    p.bitter.thin Curabitur aliquet risus a nunc condimentum, vitae aliquet velit elementum.
              .col-lg-4.col-md-6.col-10.nosidepadding
                #pp
                  .box
                    .binary
                      p 0110100101110100011100110
                      p 010000001100100011000010
                      p 11011100110011101100101011
                      p 10010<span>01101111</span>0111010101110
                      p 0110010000001110100011011
                      .grad
                        p 1100100000011001110110111
                        p 100100000011000010110110
                        p 0011011110110111001100101
                    h3.serv Phishing Prevention Campaing
                  .red
                    h3.serv Phishing Prevention Campaing
                    //- Poner texto de Phishing Prevention Campaing
                    p.bitter.thin Cras sed dolor euismod ipsum vulputate tristique non eu sapien. Phasellus sed condimentum ipsum.
              .col-lg-4.col-md-6.col-10.nosidepadding
                #ha
                  .box
                    .binary
                      p 0110100101110100<span>01110011</span>0
                      p 010000001100100011000010
                      p 11011100110011101100101011
                      p 10010011011110111010101110
                      p 0110010000001110100011011
                      .grad
                        p 1100100000011001110110111
                        p 100100000011000010110110
                        p 0011011110110111001100101
                    h3.serv Hardening
                  .red
                    h3.serv Hardening
                    //- Poner texto de Hardening
                    p.bitter.thin In quis tellus lectus. Duis rutrum ex at nisl auctor, at scelerisque lorem elementum.
              .col-lg-4.col-md-6.col-10.nosidepadding
                #an
                  .box
                    .binary
                      p 0110100101110100011100110
                      p 010000001100100011000010
                      p 11<span>01110011</span>0011101100101011
                      p 10010011011110111010101110
                      p 0110010000001110100011011
                      .grad
                        p 1100100000011001110110111
                        p 100100000011000010110110
                        p 0011011110110111001100101
                    h3.serv Risk Analysis
                  .red
                    h3.serv Risk Analysis
                    p.bitter.thin Ejecución de análisis con herramienta automática Técnicas (DAST, Black Box, White Box).
  
  //- Contacto
  .container-fluid.dottedbg.panel#contact(data-section-name='contacto')
    p.item-1.desk This is your last chance. After this, there is no turning back
    .container.vertical-center
      .col-md-12
        h2.text-center.contact ¿Vas a esperar hasta perder tu información?
        h3.text-center.contact Escríbenos:
        form#contact
          .form-group
            input(type='text', class='form-control', id='name', name='name', placeholder='Nombre', autocomplete='off', required='required') 
            label(for="name" class="bitter thin name escondido") Por favor, escribe tu nombre. 
          .form-group
            input(type='email', class='form-control', id='email', name='email', placeholder='Email', autocomplete='off', required='required') 
            label(for="email" class="bitter thin email escondido") Ingresa un email válido.
          .form-group 
            button(disabled="disabled", id='contactus') Quiero contactarlos
        div.contact.escondido
          .row.justify-content-center.text-center
            .col-sm-8.mensaje
              p 
              p En breve nos comunicaremos contigo.
    .container-fluid
      .container.padding-vertical
        .row.justify-content-center
          .col-sm-8
            .row.justify-content-center
              .col-10.col-md-6.contactinfo.padding-vertical.nodesk
                h4.contact Teléfono:
                p 55-23-24-12
                h4.contact E-mail:
                p find@hoxware.tech
              .col-8.col-md-6
                a(class="twitter-timeline" data-width="300" data-height="450" data-theme="dark" data-link-color="#D50D0E" href="https://twitter.com/danna_kiedis") Tweets by danna_kiedis
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                //- script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
              .col-10.col-md-6.contactinfo.padding-vertical.desk
                h4.contact Teléfono:
                p 55-23-24-12
                h4.contact E-mail:
                p find@hoxware.tech
          .clearfix
