extends layout

block content
  .container-fluid.nosidepadding.dottedbg.panel#intro(data-section-name='inicio')
    .container-fluid.vertical-center
      .col-md-12.text-center
        .row.justify-content-md-center
          .col-sm-6#hoxware
            img(src='/images/logo.png', class='img-fluid')
  //- ¿Qué pasaría?
  .container-fluid.panel#introinfo(data-section-name='info')
    .container-fluid.vertical-center
      .col-md-12.text-center
          h1 ¿QUÉ PASARÍA SI ALGUIEN ROBA LA <br> <span class="glitch heading" data-text="INFORMACIÓN">INFORMACIÓN</span> DE TU <br> ORGANIZACIÓN?
          h2 <span class="hilite">Afecta tu operatividad, imagen y economía,</span> Siendo una práctica habitual malintencionada
          p <span class="learnmore" data-toggle="collapse" data-target="#masinfo"> SABER MÁS </span>
          .collapse#masinfo.text-left
            .row.justify-content-md-center
              .col-md-10
                p El robo y el secuestro de información es muy común y afecta hoy en día a muchas organizaciones.
                p Explotando vulnerabilidades existentes:
                .row
                  .col.boxline
                    p.justify Obtienen información sensible que es utilizada para lucrar de manera ilícita.
                  .col.boxline
                    p.justify Secuestran datos mediante encriptación obligando a pagar para poder recuperarlos.
                  .col.boxline
                    p.justify Utilizan la información para realizar sabotaje industrial.
  //- Daños    
  .container-fluid.panel#damage(data-section-name='damages')
    .container-fluid.vertical-center
      .col-md-12.text-center
        .headcontainer
          h1 El daño operativo puede <br>ocasionar incumplimiento<br> en compromisos<br> y servicios
        .row.justify-content-md-center
          .col-md-6.boxline
            h2.justify Actualmente existen regulaciones como la <span>ley de protección de datos personales en posesión de los particulares</span>, en donde no contar con los esquemas de ciberseguridad correctos puede conllevar al incumplimiento de la misma haciendo acreedora a la organización a sanciones monetarias.
            
      
