extends layout

block content
  .container-fluid.nosidepadding.dottedbg.panel
    .container#intro
      .row.justify-content-md-center
        .col-md-5
          img(src='/images/logo.png', class='img-fluid')
    
  .container-fluid.panel
    .container#introinfo.vertical-center
      .row.justify-content-md-center
        .col-md-10.text-center
          h1 ¿QUÉ PASARÍA SI ALGUIEN ROBA LA <span class="glitch heading" data-text="INFORMACIÓN">INFORMACIÓN</span> DE TU <br> ORGANIZACIÓN?
          h2 <span class="hilite">Afecta tu operatividad, imagen y economía,</span> Siendo una práctica habitual malintencionada
