doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    title= title
    //- metas og y twitter
    //- Twitter Card data
    meta(name="twitter:card", content="Tu información siempre protegida con Hoxware.")
    meta(name="twitter:site", content="@hoxwaremx")
    meta(name="twitter:title", content="Tu información siempre protegida con Hoxware.")
    meta(name="twitter:description", content="¿Te preocupa la seguridad de los datos de tu organización? a nosotros también. Eliminamos todas las amenazas que ponen en riesgo tu información y la de tus clientes en la red.")
    meta(name="twitter:creator", content="@sabledigital")
    meta(name="twitter:image", content="/images/share.png")
    //- Open Graph data
    meta(property="og:title", content="Tu información siempre protegida con Hoxware.")
    meta(property="og:type", content="Website")
    meta(property="og:url", content="//hoxware.com")
    meta(property="og:image", content="/images/share.png")
    meta(property="og:description", content="¿Te preocupa la seguridad de los datos de tu organización? a nosotros también. Eliminamos todas las amenazas que ponen en riesgo tu información y la de tus clientes en la red." )
    meta(property="og:site_name", content="Tu información siempre protegida con Hoxware.")
    //- Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    //- animate & hover CSS
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/hover-min.css')
    //- Main CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      
    //- jQuery  
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    //- JQuery UI
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    //- Bootstrap CDN
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    //- Scrollify
    script(src='/javascripts/jquery.scrollify.js')
    //- Parallax JS
    script(src='/javascripts/parallax.js')
    //- typedJS:
    script(src='/javascripts/typed.min.js')
    //- Main
    script(src='/javascripts/main.js')
