doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    title= title
    //- Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    //- animate & hover CSS
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/hover-min.css')
    //- Main CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav
    block content
      
    //- jQuery  
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    //- JQuery UI
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    //- Bootstrap CDN
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    //- Scrollify
    script(src='/javascripts/jquery.scrollify.js')
    //- Parallax JS
    script(src='/javascripts/parallax.js')
    //- Textillate:
    script(src='/javascripts/jquery.lettering-0.6.min.js')
    script(src='/javascripts/jquery.textillate.js')
    //- Main
    script(src='/javascripts/main.js')
