.nav-wrapper
  .logo
    img(src='/images/icn_circle.svg', class="img-fluid")
  .menu
    a(data-toggle='collapse', data-parent='#accordion', href='#nav')    
      .navtoggle.text-center
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
    #accordion
      .navlinks.collapse#nav
        ul.text-right
          li
            a(href='') ¿Qué pasaría?
          li
            a(href='') Daños
          li
            a(href='') Protección
          li
            a(href='') Servicios
          li
            a(href='') Contacto
