nav.navbar.navbar-inverse.fixed-top.hoxnav
  button(type='button', data-toggle='collapse', data-target='#collapsingNavbar').navbar-toggler.navbar-toggler-right
    span(class='navbar-toggler-icon')
  a(href='').navbar-brand
    img(src='/images/icn_circle.svg', class="img-fluid")
  .navbar-collapse.collapse#collapsingNavbar.float-right
    ul.navbar-nav
      li.nav-item
        a(href='', class='nav-link') ¿Qué pasaría?
      li.nav-item
        a(href='', class='nav-link') Daños
      li.nav-item
        a(href='', class='nav-link') Protección
      li.nav-item
        a(href='', class='nav-link') Servicios
      li.nav-item
        a(href='', class='nav-link') Contacto
