.nav-wrapper
  .logo
    img(src='/images/icn_circle.svg', class="img-fluid")
  .menu
    a(data-toggle='collapse', data-parent='#accordion', href='#nav')    
      .navtoggle.text-center
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
    #accordion
      .navlinks.collapse#nav
        ul.text-right
          li
            a(href='') ¿Qué pasaría?
          li
            a(href='') Daños
          li
            a(href='') Protección
          li
            a(href='') Servicios
          li
            a(href='') Contacto
            
#cd-vertical-nav
  ul.vnav
    li
      a(href='#inicio', class='vlink')
        span 00
        span.cd-label Inicio
    li
      a(href='#info', class='vlink')
        span 01
        span.cd-label ¿Qué pasaría?
    li
      a(href='#damages', class='vlink')
        span 02
        span.cd-label Daños
    li
      a(href='#')
        span 03
        span.cd-label Protección
    li
      a(href='#')
        span 04
        span.cd-label Servicios
    li
      a(href='#')
        span 05
        span.cd-label Contacto
