.nav-wrapper
  .logo
    img(src='/images/icn_circle.svg', class="img-fluid")
  .menu
    a(data-toggle='collapse', data-parent='#accordion', href='#nav')    
      .navtoggle.text-center
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
    #accordion
      .navlinks.collapse#nav
        ul.text-right
          li
            a(href='#info', class='vlink') ¿Qué pasaría?
          li
            a(href='#daños', class='vlink') Daños
          li
            a(href='#protección', class='vlink') Protección
          li
            a(href='#servicios', class='vlink') Servicios
          li
            a(href='#contacto', class='vlink') Contacto
            
#cd-vertical-nav
  ul.vnav
    li
      a(href='#inicio', class='active vlink')
        span 000
        span.cd-label •
    li
      a(href='#info', class='vlink')
        span 001
        span.cd-label •
    li
      a(href='#daños', class='vlink')
        span 002
        span.cd-label •
    li
      a(href='#protección', class='vlink')
        span 003
        span.cd-label •
    li
      a(href='#servicios', class='vlink')
        span 004
        span.cd-label •
    li
      a(href='#contacto', class='vlink')
        span 005
        span.cd-label •
        
#gocontact.desk
  .btn.btn-contact Quiero contactarlos
