.nav-wrapper
  .logo
    img(src='/images/icn_circle.svg', class="img-fluid")
  .menu
    a(data-toggle='collapse', data-parent='#accordion', href='#nav')    
      .navtoggle.text-center
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
    #accordion
      .navlinks.collapse#nav
        ul.text-right
          li
            a.desk(href='#info', class='vlink') ¿Qué pasaría?
            a.nodesk(href='#intro', class='vlink') ¿Qué pasaría?
          li
            a.desk(href='#danos', class='vlink') Daños
            a.nodesk(href='#introinfo', class='vlink') Daños
          li
            a.desk(href='#proteccion', class='vlink') Protección
            a.nodesk(href='#damage', class='vlink') Protección
          li
            a.desk(href='#servicios', class='vlink') Servicios
            a.nodesk(href='#shield', class='vlink') Servicios
          li
            a.desk(href='#contacto', class='vlink') Contacto
            a.nodesk(href='#contact', class='vlink') Contacto
            
#cd-vertical-nav.desk
  ul.vnav
    li
      a(href='#inicio', class='active vlink')
        span 000
        span.cd-label •
    li
      a(href='#info', class='vlink')
        span 001
        span.cd-label •
    li
      a(href='#danos', class='vlink')
        span 002
        span.cd-label •
    li
      a(href='#proteccion', class='vlink')
        span 003
        span.cd-label •
    li
      a(href='#servicios', class='vlink')
        span 004
        span.cd-label •
    li
      a(href='#contacto', class='vlink')
        span 005
        span.cd-label •
        
#gocontact.desk
  .btn.btn-contact Quiero contactarlos
