@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

body {background: #030314; font-family: 'Bungee Hairline'; color: #fff}
a {color: #D50D0E;}
a:hover {text-shadow: 0 0 5px; display: block; color: #fff;}

h1 {font-family: 'Bitter', serif; font-size: 42px; font-weight: 700; text-shadow: 0 0 200px; line-height: 50px; text-transform: uppercase;}
h2 {font-size: 20px; text-transform: uppercase; color: #8E8E96}
h2.services {font-family: 'Bitter', serif; font-size: 32px; font-weight: 400; text-transform: none; color: #fff}
h2.contact {font-family: 'Bitter', serif; font-size: 32px; font-weight: 700; text-transform: none; color: #fff}
h3.contact {font-family: 'Bitter', serif; font-size: 28px; font-weight: 400; text-transform: none; color: #fff}
h3 {font-size: 16px;}
h3.serv {font-family: 'Bitter', serif; font-size: 38px; font-weight: 700; text-transform: uppercase; text-overflow: clip;}
p {font-size: 14px; color: #c7c7c7}
.bitter {font-family: 'Bitter', serif !important;}
.bitter.thin {font-weight: 400;}
span {color: #D50D0E;}
/* 38px, 32px, 30px, 18px, 16px, 14px -- sacadas el PDF */

/* custom */
.nosidepadding {padding-left: 0; padding-right: 0;}
.vertical-center {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}
.padding-vertical {padding-top: 2rem; padding-bottom: 2rem;}
.padding-top {padding-top: 2rem;}

/* general */
h2 span.hilite {text-shadow: 0 0 5px; display: block; color: #8E8E96; font-size: 22px}
.dottedbg {background: hsl(240, 74%, 5%); background-image: radial-gradient(hsl(0, 0%, 18%) 5%, transparent 0); background-size: 1.3em 1.3em;}
.learnmore {cursor: pointer;}
.justify {text-align: justify;}
.justify:after {content: ""; display: inline-block; width: 100%;}
.escondido {display: none;}
.boxline {border: 5px solid; padding: 30px 20px 0; margin: 0 15px; -moz-border-image: -moz-linear-gradient(top, #c7c7c7 0%, #030314 100%); -webkit-border-image: -webkit-linear-gradient(top, #c7c7c7 0%, #030314 100%); border-image: linear-gradient(to bottom, #c7c7c7 0%, #030314 100%); border-image-slice: 1;}
.headcontainer {margin: 9rem auto;}
.headalter {margin: 9rem auto 1rem;}

/* nav */
.nav-wrapper {position: fixed; min-width: 100vw; z-index: 1; background: transparent;}
.nav-wrapper .logo {width: 50px; height: 50px; position: absolute; top: 1rem; left: 1rem;}
.nav-wrapper .menu {position: fixed; top: 1rem; right: 1rem; max-width: 200px; z-index: 1;}
.nav-wrapper .menu #accordion {position: fixed; top: 4rem; right: 1rem;}
.navlinks ul {list-style: none; margin-bottom: 0; padding: 10px 0;}
.navlinks a {color: #8E8E96;}
.navlinks a:hover {color: #fff; text-decoration: none !important}
.navtoggle {position: fixed; top: 1rem; right: 1rem;}
.navtoggle span {color: #EAE7E7; display: block;}
span.icon-bar {width: 25px; height: 4px; border-radius: 1px; background: #EAE7E7; margin: 5px auto; padding: 0;}
nav img {width: 45px !important;}
.escondido.animated {display: block}
/* vertical nav */
#cd-vertical-nav {position: fixed; right: 20px; top: 90%; bottom: auto; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 1;}
#cd-vertical-nav ul {list-style-type: none !important;}
#cd-vertical-nav li {text-align: right;}
#cd-vertical-nav a {font-size: 12px; display: inline-block; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
#cd-vertical-nav a:after {content: ""; display: table; clear: both;}
#cd-vertical-nav a span {color: #8E8E96; font-family: 'Bitter', serif; font-size: 8px; padding-right: 9px; float: right; display: inline-block; -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5);}
#cd-vertical-nav a:hover span, #cd-vertical-nav a.active span {-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1);}
#cd-vertical-nav a span:first-child{-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
#cd-vertical-nav a:hover .cd-label, #cd-vertical-nav a.active .cd-label {opacity: 1; color: #D50D0E; font-family: 'Bitter', serif;}
#cd-vertical-nav .cd-label {position: relative; margin-right: -15px; color: white; font-size: 14px; font-size: 0.875rem; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; opacity: 0; -webkit-transform-origin: 100% 50%; -moz-transform-origin: 100% 50%; -ms-transform-origin: 100% 50%; -o-transform-origin: 100% 50%; transform-origin: 100% 50%;}
/* go to contact */
#gocontact {position: fixed; top: 93%; left: 1%; z-index: 1;}
.btn.btn-contact {font-family: 'Bitter', serif; font-size: 10px; border: 3px solid #fff; background: transparent; border-radius: 0; cursor: pointer;}

/* intro */
h1 span.glitch {/* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.72);*/ color: rgba(255, 255, 255, 0.36);}
.glitch {position: relative; display: inline-block; text-transform: uppercase;}
.glitch:after{clip: rect(0, 100%, 0, 0); content: attr(data-text); left: 0; overflow: hidden; position: absolute; text-shadow: -1px 0 #05d003; top: 0; webkit-animation: noise-anim 2s infinite linear alternate-reverse; moz-animation: noise-anim 2s infinite linear alternate-reverse; animation: noise-anim 2s infinite linear alternate-reverse;}
.glitch:before {animation: noise-anim-2 3s infinite linear alternate-reverse; clip: rect(0, 100%, 0, 0); content: attr(data-text); top: 0; left: 0; moz-animation: noise-anim-2 2s infinite linear alternate-reverse; overflow: hidden; position: absolute; text-shadow: 2px 0 #fff; webkit-animation: noise-anim-2 2s infinite linear alternate-reverse;}
.heading:before {transform: translateX(-1px); text-shadow: rgba(18, 60, 206, 0.7) 0.08em 0.04em, rgba(54, 229, 10, 0.7) -0.3em -0.04em, rgba(152, 31, 31, 0.7) -0.1em 0.09em;}
.heading:after {transform: translateX(1px); text-shadow: -1px 0 #fff;}
@keyframes noise-anim {
	0% {clip: rect(21px, 9999px, 57px, 0);}
	5% {clip: rect(21px, 9999px, 80px, 0);}
	10% {clip: rect(55px, 9999px, 69px, 0);}
	15.0% {clip: rect(22px, 9999px, 55px, 0);}
	20% {clip: rect(38px, 9999px, 69px, 0);}
	25% {clip: rect(31px, 9999px, 84px, 0);}
	30.0% {clip: rect(15px, 9999px, 28px, 0);}
	35% {clip: rect(16px, 9999px, 100px, 0);}
	40% {clip: rect(25px, 9999px, 10px, 0);}
	45% {clip: rect(19px, 9999px, 19px, 0);}
	50% {clip: rect(71px, 9999px, 35px, 0);}
	55.0% {clip: rect(89px, 9999px, 21px, 0);}
	60.0% {clip: rect(20px, 9999px, 34px, 0);}
	65% {clip: rect(22px, 9999px, 61px, 0);}
	70% {clip: rect(65px, 9999px, 28px, 0);}
	75% {clip: rect(82px, 9999px, 47px, 0);}
	80% {clip: rect(64px, 9999px, 11px, 0);}
	85.0% {clip: rect(63px, 9999px, 28px, 0);}
	90% {clip: rect(60px, 9999px, 60px, 0);}
	95% {clip: rect(9px, 9999px, 90px, 0);}
	100% {clip: rect(40px, 9999px, 62px, 0);}
}
@keyframes noise-anim-2 {
	0% {clip: rect(77px, 9999px, 63px, 0);}
	5% {clip: rect(7px, 9999px, 6px, 0);}
	10% {clip: rect(82px, 9999px, 78px, 0);}
	15.0% {clip: rect(85px, 9999px, 25px, 0);}
	20% {clip: rect(93px, 9999px, 38px, 0);}
	25% {clip: rect(70px, 9999px, 96px, 0);}
	30.0% {clip: rect(41px, 9999px, 72px, 0);}
	35% {clip: rect(39px, 9999px, 65px, 0);}
	40% {clip: rect(36px, 9999px, 34px, 0);}
	45% {clip: rect(84px, 9999px, 96px, 0);}
	50% {clip: rect(99px, 9999px, 45px, 0);}
	55.0% {clip: rect(37px, 9999px, 73px, 0);}
	60.0% {clip: rect(63px, 9999px, 20px, 0);}
	65% {clip: rect(55px, 9999px, 44px, 0);}
	70% {clip: rect(58px, 9999px, 11px, 0);}
	75% {clip: rect(61px, 9999px, 82px, 0);}
	80% {clip: rect(60px, 9999px, 9px, 0);}
	85.0% {clip: rect(37px, 9999px, 69px, 0);}
	90% {clip: rect(32px, 9999px, 64px, 0);}
	95% {clip: rect(63px, 9999px, 16px, 0);}
	100% {clip: rect(47px, 9999px, 34px, 0);}
}
@-webkit-keyframes noise-anim {
	0% {clip: rect(61px, 9999px, 72px, 0);}
	5% {clip: rect(65px, 9999px, 83px, 0);}
	10% {clip: rect(21px, 9999px, 68px, 0);}
	15.0% {clip: rect(99px, 9999px, 51px, 0);}
	20% {clip: rect(41px, 9999px, 79px, 0);}
	25% {clip: rect(33px, 9999px, 65px, 0);}
	30.0% {clip: rect(38px, 9999px, 71px, 0);}
	35% {clip: rect(49px, 9999px, 18px, 0);}
	40% {clip: rect(70px, 9999px, 6px, 0);}
	45% {clip: rect(47px, 9999px, 45px, 0);}
	50% {clip: rect(74px, 9999px, 90px, 0);}
	55.0% {clip: rect(33px, 9999px, 8px, 0);}
	60.0% {clip: rect(77px, 9999px, 10px, 0);}
	65% {clip: rect(53px, 9999px, 43px, 0);}
	70% {clip: rect(74px, 9999px, 24px, 0);}
	75% {clip: rect(91px, 9999px, 40px, 0);}
	80% {clip: rect(82px, 9999px, 20px, 0);}
	85.0% {clip: rect(70px, 9999px, 30px, 0);}
	90% {clip: rect(50px, 9999px, 31px, 0);}
	95% {clip: rect(63px, 9999px, 52px, 0);}
	100% {clip: rect(79px, 9999px, 57px, 0);}
}
@-webkit-keyframes noise-anim-2 {
	0% {clip: rect(62px, 9999px, 69px, 0);}
	5% {clip: rect(33px, 9999px, 27px, 0);}
	10% {clip: rect(86px, 9999px, 3px, 0);}
	15.0% {clip: rect(69px, 9999px, 65px, 0);}
	20% {clip: rect(87px, 9999px, 58px, 0);}
	25% {clip: rect(80px, 9999px, 55px, 0);}
	30.0% {clip: rect(46px, 9999px, 69px, 0);}
	35% {clip: rect(39px, 9999px, 93px, 0);}
	40% {clip: rect(1px, 9999px, 73px, 0);}
	45% {clip: rect(35px, 9999px, 75px, 0);}
	50% {clip: rect(89px, 9999px, 97px, 0);}
	55.0% {clip: rect(30px, 9999px, 53px, 0);}
	60.0% {clip: rect(63px, 9999px, 100px, 0);}
	65% {clip: rect(22px, 9999px, 19px, 0);}
	70% {clip: rect(30px, 9999px, 100px, 0);}
	75% {clip: rect(46px, 9999px, 45px, 0);}
	80% {clip: rect(62px, 9999px, 50px, 0);}
	85.0% {clip: rect(35px, 9999px, 84px, 0);}
	90% {clip: rect(38px, 9999px, 61px, 0);}
	95% {clip: rect(63px, 9999px, 18px, 0);}
	100% {clip: rect(42px, 9999px, 29px, 0);}
}
@-moz-keyframes noise-anim {
	0% {clip: rect(80px, 9999px, 30px, 0);}
	5% {clip: rect(92px, 9999px, 43px, 0);}
	10% {clip: rect(94px, 9999px, 28px, 0);}
	15.0% {clip: rect(22px, 9999px, 60px, 0);}
	20% {clip: rect(12px, 9999px, 6px, 0);}
	25% {clip: rect(55px, 9999px, 65px, 0);}
	30.0% {clip: rect(40px, 9999px, 78px, 0);}
	35% {clip: rect(66px, 9999px, 39px, 0);}
	40% {clip: rect(86px, 9999px, 62px, 0);}
	45% {clip: rect(75px, 9999px, 66px, 0);}
	50% {clip: rect(9px, 9999px, 67px, 0);}
	55.0% {clip: rect(30px, 9999px, 5px, 0);}
	60.0% {clip: rect(41px, 9999px, 40px, 0);}
	65% {clip: rect(10px, 9999px, 96px, 0);}
	70% {clip: rect(98px, 9999px, 50px, 0);}
	75% {clip: rect(28px, 9999px, 4px, 0);}
	80% {clip: rect(92px, 9999px, 58px, 0);}
	85.0% {clip: rect(11px, 9999px, 13px, 0);}
	90% {clip: rect(44px, 9999px, 36px, 0);}
	95% {clip: rect(29px, 9999px, 75px, 0);}
	100% {clip: rect(56px, 9999px, 39px, 0);}
}
@-moz-keyframes noise-anim-2 {
	0% {clip: rect(13px, 9999px, 50px, 0);}
	5% {clip: rect(52px, 9999px, 68px, 0);}
	10% {clip: rect(49px, 9999px, 80px, 0);}
	15.0% {clip: rect(98px, 9999px, 41px, 0);}
	20% {clip: rect(89px, 9999px, 29px, 0);}
	25% {clip: rect(66px, 9999px, 91px, 0);}
	30.0% {clip: rect(100px, 9999px, 29px, 0);}
	35% {clip: rect(40px, 9999px, 29px, 0);}
	40% {clip: rect(44px, 9999px, 89px, 0);}
	45% {clip: rect(74px, 9999px, 18px, 0);}
	50% {clip: rect(6px, 9999px, 74px, 0);}
	55.0% {clip: rect(4px, 9999px, 28px, 0);}
	60.0% {clip: rect(87px, 9999px, 56px, 0);}
	65% {clip: rect(100px, 9999px, 6px, 0);}
	70% {clip: rect(72px, 9999px, 77px, 0);}
	75% {clip: rect(40px, 9999px, 1px, 0);}
	80% {clip: rect(81px, 9999px, 61px, 0);}
	85.0% {clip: rect(23px, 9999px, 81px, 0);}
	90% {clip: rect(52px, 9999px, 24px, 0);}
	95% {clip: rect(12px, 9999px, 60px, 0);}
	100% {clip: rect(66px, 9999px, 69px, 0);}
}

/* protección */
#shield.fix {height: 100% !important}
.tempicon {width: 165px; height: 165px; border-radius: 50%; background: #CC0506; display: block; margin: 2rem auto 1rem;}
.box {border: 8px solid; padding: 20px; margin: 5px; color: #fff; height: 360px; min-width: 110px}
.show#masproteccion {display: inline-block !important; width: 100% !important;}
