@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

body {background: #030314; font-family: 'Bungee Hairline'; color: #fff}
a {color: #D50D0E;}

h1 {font-family: 'Bitter', serif; font-size: 38px; font-weight: 700; text-shadow: 0 0 100px; line-height: 50px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h2.services {font-family: 'Bitter', serif; font-size: 32px; font-weight: 700}
p {font-size: 14px;}
span {color: #D50D0E;}
/* 38px, 32px, 30px, 18px, 16px, 14px -- sacadas el PDF */

/* custom */
.nosidepadding {padding-left: 0; padding-right: 0;}
.vertical-center {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}

/* general */
.dottedbg {background: hsl(240, 74%, 5%); background-image: radial-gradient(hsl(0, 0%, 18%) 5%, transparent 0); background-size: 1.3em 1.3em;}

.escondido {display: none;}

/* nav */
.hoxnav {background: transparent; font-family:  'Bitter', serif; min-width: 100vw !important;}
nav img {width: 45px !important;}
.escondido.animated {display: block}

/* intro */
#intro, #introinfo {height: 100vh;}
h1 span.glitch::before, h1 span.glitch::after {
  padding: 30px;
  color: white;
  content: "INFORMACIÓN";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
h1 span.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
h1 span.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {clip: rect(90px, 350px, 76px, 30px);}
  5% {clip: rect(55px, 350px, 20px, 30px);}
  10% {clip: rect(102px, 350px, 93px, 30px);}
  15% {clip: rect(55px, 350px, 124px, 30px);}
  20% {clip: rect(20px, 350px, 45px, 30px);}
  25% {clip: rect(8px, 350px, 124px, 30px);}
  30% {clip: rect(48px, 350px, 25px, 30px);}
  35% {clip: rect(60px, 350px, 116px, 30px);}
  40% {clip: rect(7px, 350px, 57px, 30px);}
  45% {clip: rect(29px, 350px, 47px, 30px);}
  50% {clip: rect(17px, 350px, 84px, 30px);}
  55% {clip: rect(23px, 350px, 111px, 30px);}
  60% {clip: rect(70px, 350px, 80px, 30px);}
  65% {clip: rect(123px, 350px, 106px, 30px);}
  70% {clip: rect(54px, 350px, 16px, 30px);}
  75% {clip: rect(147px, 350px, 7px, 30px);}
  80% {clip: rect(39px, 350px, 133px, 30px);}
  85% {clip: rect(27px, 350px, 71px, 30px);}
  90% {clip: rect(117px, 350px, 47px, 30px);}
  95% {clip: rect(115px, 350px, 149px, 30px);}
  100% {clip: rect(121px, 350px, 136px, 30px);}
}
@keyframes glitch-animation-2 {
  0% {clip: rect(130px, 350px, 135px, 30px);}
  5% {clip: rect(69px, 350px, 87px, 30px);}
  10% {clip: rect(84px, 350px, 14px, 30px);}
  15% {clip: rect(82px, 350px, 17px, 30px);}
  20% {clip: rect(87px, 350px, 140px, 30px);}
  25% {clip: rect(130px, 350px, 36px, 30px);}
  30% {clip: rect(15px, 350px, 15px, 30px);}
  35% {clip: rect(135px, 350px, 34px, 30px);}
  40% {clip: rect(71px, 350px, 121px, 30px);}
  45% {clip: rect(146px, 350px, 47px, 30px);}
  50% {clip: rect(128px, 350px, 41px, 30px);}
  55% {clip: rect(81px, 350px, 70px, 30px);}
  60% {clip: rect(4px, 350px, 64px, 30px);}
  65% {clip: rect(48px, 350px, 58px, 30px);}
  70% {clip: rect(127px, 350px, 60px, 30px);}
  75% {clip: rect(141px, 350px, 37px, 30px);}
  80% {clip: rect(129px, 350px, 100px, 30px);}
  85% {clip: rect(38px, 350px, 83px, 30px);}
  90% {clip: rect(140px, 350px, 92px, 30px);}
  95% {clip: rect(26px, 350px, 114px, 30px);}
  100% {clip: rect(97px, 350px, 9px, 30px);}
}
