@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

body {background: #030314; font-family: 'Bungee Hairline'; color: #fff}
a {color: #D50D0E;}
a:hover {text-shadow: 0 0 5px; display: block; color: #fff;}

h1 {font-family: 'Bitter', serif; font-size: 42px; font-weight: 700; text-shadow: 0 0 200px; line-height: 50px; text-transform: uppercase;}
h2 {font-size: 20px; text-transform: uppercase; color: #fff}
h2.contact {font-family: 'Bitter', serif; font-size: 32px; font-weight: 700; text-transform: none; color: #fff}
h3.contact {font-family: 'Bitter', serif; font-size: 28px; font-weight: 400; text-transform: none; color: #fff}
h4.contact {font-family: 'Bitter', serif; font-size: 13px; font-weight: 400; text-transform: none; color: #fff}
h3 {font-size: 16px;}
p {font-size: 14px; color: #fff}
.bitter {font-family: 'Bitter', serif !important;}
.bitter.thin {font-weight: 400;}
span {color: #D50D0E;}
/* 38px, 32px, 30px, 18px, 16px, 14px -- sacadas el PDF */

/* custom */
.nosidepadding {padding-left: 0; padding-right: 0;}
.vertical-center {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}
.padding-vertical {padding-top: 2rem; padding-bottom: 2rem;}
.padding-top {padding-top: 2rem;}


/* general */
h2 span.hilite {text-shadow: 0 0 5px; display: block; color: #fff; font-size: 22px}
.dottedbg {background: hsl(240, 74%, 5%); background-image: radial-gradient(hsl(0, 0%, 18%) 5%, transparent 0); background-size: 1.3em 1.3em;}
.learnmore, .learnmore span {cursor: pointer; padding: 8px; color: #fff; -moz-text-shadow: 0 0 5px #fff; -webkit-text-shadow: 0 0 5px #fff; text-shadow: 0 0 5px #fff; color: #fff}
.justify {text-align: justify;}
.justify:after {content: ""; display: inline-block; width: 100%;}
.escondido {display: none;}
.boxline {border: 5px solid; padding: 30px 20px 0; margin: 0 15px; -moz-border-image: -moz-linear-gradient(top, #c7c7c7 0%, #030314 100%); -webkit-border-image: -webkit-linear-gradient(top, #c7c7c7 0%, #030314 100%); border-image: linear-gradient(to bottom, #c7c7c7 0%, #030314 100%); border-image-slice: 1;}
.boxline h2 {color: #fff}
.boxline h2 span {-moz-text-shadow: 0 0 5px #D50D0E; -webkit-text-shadow: 0 0 5px #D50D0E; text-shadow: 0 0 5px #D50D0E; color: #D50D0E}
.headcontainer {margin: 9rem auto;}
.headalter {margin: 9rem auto 1rem;}
.item-1 {
	position: absolute;
  display: block;
	top: 2em;
  background: -webkit-linear-gradient(left, transparent, #D50D0E, transparent);
  text-align: center;
  width: 60%;
  -webkit-transform: rotate(-45deg);
  font-size: 6px;
  color: #222;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.item-1{
	animation-name: anim-1;
}
@keyframes anim-1 {
	0% { right: -32%; top: 0vh; opacity: 0; }
  50% { right: 30vw; top: 90vh; opacity: 1; }
  100% { right: 60vw; top: 130vh; opacity: 0; }
}

/* nav */
.nav-wrapper {position: relative; z-index: 1; background: transparent;}
.nav-wrapper .logo {width: 50px; height: 50px; position: fixed; top: 1rem; left: 1rem;}
.nav-wrapper .menu {position: fixed; top: 1rem; right: 1rem; max-width: 200px; z-index: 1;}
.nav-wrapper .menu #accordion {position: fixed; top: 3rem; right: 0;}
.navlinks ul {list-style: none; margin-bottom: 0; padding: 0; background: rgba(15, 15, 33, 0.87);}
.navlinks ul li {border-bottom: 1px solid rgba(142, 142, 150, 0.41); padding: 10px;}
.navlinks a {color: #d6d6d6;}
.navlinks a:hover {color: #fff; text-decoration: none !important}
.navtoggle {position: fixed; top: 1rem; right: 1rem;}
.navtoggle span {color: #EAE7E7; display: block;}
span.icon-bar {width: 20px; height: 2px; border-radius: 1px; background: #EAE7E7; margin: 3px auto; padding: 0;}
nav img {width: 45px !important;}
.escondido.animated {display: block}
/* vertical nav */
#cd-vertical-nav {position: fixed; right: 20px; top: 90%; bottom: auto; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 1;}
#cd-vertical-nav ul {list-style-type: none !important; margin-bottom: 2.2rem;}
#cd-vertical-nav li {text-align: right;}
#cd-vertical-nav a {font-size: 12px; display: inline-block; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
#cd-vertical-nav a:after {content: ""; display: table; clear: both;}
#cd-vertical-nav a span {color: #8E8E96; font-family: sans-serif; font-size: 8px; padding-right: 9px; float: right; display: inline-block; -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5);}
#cd-vertical-nav a:hover span, #cd-vertical-nav a.active span {-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1);}
#cd-vertical-nav a span:first-child{-ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
#cd-vertical-nav a:hover .cd-label, #cd-vertical-nav a.active .cd-label {opacity: 1; color: #D50D0E; font-family: 'Bitter', serif;}
#cd-vertical-nav .cd-label {position: relative; margin-right: -13px; color: white; font-size: 14px; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; opacity: 0; -webkit-transform-origin: 100% 50%; -moz-transform-origin: 100% 50%; -ms-transform-origin: 100% 50%; -o-transform-origin: 100% 50%; transform-origin: 100% 50%; -webkit-font-smoothing: subpixel-antialiased; letter-spacing: 1px;}
/* go to contact */
#gocontact {position: fixed; top: 93%; left: 1%; z-index: 1;}
.btn.btn-contact {font-family: 'Bitter', serif; font-size: 10px; border: 3px solid #fff; background: transparent; border-radius: 0; cursor: pointer;}

/* intro */
h1 span.glitch {color: #fff}
.glitch {position: relative; display: inline-block; text-transform: uppercase;}
.glitch {animation: glitch 3s steps(100) infinite;}
@keyframes glitch {
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; filter: blur(0);}
  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; filter: blur(0);}
  43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 lime; filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; filter: blur(0);}
  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; filter: blur(0);}
  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; filter: blur(0);}
  92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);} }

/* daños */
.userwrap {position: relative;}
#scene {position: absolute; height: 200px; width: 100%}
.userinfo {position: absolute !important; background: rgba(3, 3, 20, .7); width: 260px !important; border: 2px solid rgba(255, 255, 255, 0.72); padding: 10px 0 5px;}
.userinfo:first-child {filter: blur(1px); top: 25rem !important; left: 2rem !important; opacity: 0;}
.moved.userinfo:first-child {transition: all 1s ease-out; top: 5rem !important; opacity: 0.2;}
.userinfo:nth-child(2) {filter: blur(1px); top: 25rem !important; left: 45rem !important; opacity: 0;}
.moved.userinfo:nth-child(2) {transition: all 1s ease-out; top: 1rem !important; opacity: 0.4;}
.userinfo:nth-child(3) {filter: blur(1px); top: 25rem !important; left: 8rem !important; opacity: 0;}
.moved.userinfo:nth-child(3) {transition: all 2s ease-out; top: 16rem !important; opacity: 0.6;}
.userinfo:nth-child(4) {top: 25rem !important; left: 50rem !important; opacity: 0;}
.moved.userinfo:nth-child(4) {transition: all 2s ease-out; top: 13rem !important; opacity: 0.6;}
.userinfo p {position: relative; margin-bottom: 4px; left: 50%; margin-left: -8.5em; text-align: left; font-size: 1em; font-family: monospace; white-space: nowrap; overflow: hidden; width: 0; color: #fff;}
.userinfo p span {color: #fff; font-weight: bold;}
.userinfo p.line1.animate {-webkit-animation: type .9s 1s steps(20, end) forwards; -moz-animation: type .9s 1s steps(20, end) forwards; -o-animation: type .9s 1s steps(20, end) forwards; animation: type .9s 1s steps(20, end) forwards;}
.userinfo p span.cursor1.animate {-webkit-animation: blink 1s 2s 2 forwards; -moz-animation: blink 1s 2s 2 forwards; -o-animation: blink 1s 2s 2 forwards; animation: blink 1s 2s 2 forwards;}
.userinfo p.line2.animate {-webkit-animation: type .9s 2.35s steps(20, end) forwards; -moz-animation: type .9s 2.35s steps(20, end) forwards; -o-animation: type .9s 2.35s steps(20, end) forwards; animation: type .9s 2.35s steps(20, end) forwards;}
.userinfo p span.cursor2.animate {-webkit-animation: blink 1s 3.25s 2 forwards; -moz-animation: blink 1s 3.25s 2 forwards; -o-animation: blink 1s 3.25s 2 forwards; animation: blink 1s 3.25s 2 forwards;}
.userinfo p.line3.animate {-webkit-animation: type .9s 4.5s steps(20, end) forwards; -moz-animation: type .9s 4.5s steps(20, end) forwards; -o-animation: type .9s 4.5s steps(20, end) forwards; animation: type .9s 4.5s steps(20, end) forwards;}
.userinfo p span.cursor3.animate {-webkit-animation: blink 1s 5.5s 2 forwards; -moz-animation: blink 1s 5.5s 2 forwards; -o-animation: blink 1s 5.5s 2 forwards; animation: blink 1s 5.5s 2 forwards;}
.userinfo p.line4.animate {-webkit-animation: type .9s 6.75s steps(20, end) forwards; -moz-animation: type .9s 6.75s steps(20, end) forwards; -o-animation: type .9s 6.75s steps(20, end) forwards; animation: type .9s 6.75s steps(20, end) forwards;}
.userinfo p span.cursor4.animate {-webkit-animation: blink 1s 6.5s infinite; -moz-animation: blink 1s 6.5s infinite; -o-animation: blink 1s 6.5s infinite; animation: blink 1s 6.5s infinite;}
@-webkit-keyframes blink {
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes blink {
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes blink {
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes blink {
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes type {
  to {width: 15em;}
}
@-moz-keyframes type {
  to {width: 15em;}
}
@-o-keyframes type {
  to {width: 15em;}
}
@keyframes type {
  to {width: 15em;}
}

/* protección */
.shieldwrap {position: relative;}
#shieldscene {position: absolute; height: 200px; width: 100%}
.shieldbinary {font-family: 'Bitter', serif; position: absolute !important; width: auto; padding: 10px 0 5px;}
.shieldbinary:first-child {top: 13rem !important; left: -3rem !important; opacity: 0.6;}
.shieldbinary:nth-child(2) {top: 4rem !important; left: 44rem !important; opacity: 0.4;}
.shieldbinary:nth-child(3) {top: 21rem !important; left: 49rem !important; opacity: 0.3;}
.shieldbinary p {font-size: 12px; margin-bottom: 1px; max-height: 15px; /* display: none */}
.shieldbinary p span {display: inline-block; color: #D50D0E; /* -webkit-text-fill-color: #D50D0E; */}
#shield.fix {height: 100% !important}
.icon1 {width: 165px; height: 165px; border-radius: 50%; background: url('/images/0_cer.png') center no-repeat; background-size: cover; display: block; margin: 2rem auto 1rem;}
.icon2 {width: 165px; height: 165px; border-radius: 50%; background: url('/images/1_cer.png') center no-repeat; background-size: cover; display: block; margin: 2rem auto 1rem;}
.icon3 {width: 165px; height: 165px; border-radius: 50%; background: url('/images/2_cer.png') center no-repeat; background-size: cover; display: block; margin: 2rem auto 1rem;}
.icon4 {width: 165px; height: 165px; border-radius: 50%; background: url('/images/3_cer.png') center no-repeat; background-size: cover; display: block; margin: 2rem auto 1rem;}
.show#masproteccion {display: inline-block !important; width: 100% !important;}

/* servicios */
h2.services {font-family: 'Bitter', serif; font-size: 32px; font-weight: 400; text-transform: none; color: #fff}
h3.serv {font-family: 'Bitter', serif; font-size: 38px; font-weight: 700; text-transform: uppercase; text-overflow: clip;}
#wp, #ip, #wsa, #pp, #ha, #an {position: relative; margin: 5px; border: 8px solid #fff; color: #fff; height: 360px; min-width: 110px; cursor: pointer; overflow: hidden;}
#wp:hover > .box, #ip:hover > .box, #wsa:hover > .box, #pp:hover > .box, #ha:hover > .box, #an:hover > .box {height: 0; padding: 0 20px; opacity: 0;}
#wp:hover > .red, #ip:hover > .red, #wsa:hover > .red, #pp:hover > .red, #ha:hover > .red, #an:hover > .red {height: 100%; opacity: 1; -webkit-transform: scaleY(1); -o-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1);}
#wp:hover > .red h3, #ip:hover > .red h3, #wsa:hover > .red h3, #pp:hover > .red h3, #ha:hover > .red h3, #an:hover > .red h3,
#wp:hover > .red p, #ip:hover > .red p, #wsa:hover > .red p, #pp:hover > .red p, #ha:hover > .red p, #an:hover > .red p {opacity: 1;}
.box {padding: 20px; -webkit-transform-origin: top; -o-transform-origin: top; -ms-transform-origin: top; transform-origin: top; -webkit-transition: padding 0.60s ease-out, opacity 0.7s ease-out; -o-transition: padding 0.60s ease, opacity 0.7s ease; -ms-transition: padding 0.60s ease, opacity 0.7s ease; transition: padding 0.60s ease, opacity 0.7s ease;}
.red {background: #D50D0E; padding: 20px; -webkit-transform: scaleY(0); -o-transform: scaleY(0); -ms-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: bottom; -o-transform-origin: bottom; -ms-transform-origin: bottom; transform-origin: bottom; -webkit-transition: all 0.20s ease-out; -o-transition: all 0.20s ease; -ms-transition: all 0.20s ease; transition: all 0.20s ease;}
#wp:not(:hover) > .red h3,
#ip:not(:hover) > .red h3,
#wsa:not(:hover) > .red h3,
#pp:not(:hover) > .red h3,
#ha:not(:hover) > .red h3,
#an:not(:hover) > .red h3,
#wp:not(:hover) > .red p,
#ip:not(:hover) > .red p,
#wsa:not(:hover) > .red p,
#pp:not(:hover) > .red p,
#ha:not(:hover) > .red p,
#an:not(:hover) > .red p {opacity: 0;-webkit-transition: opacity 0.5s ease-out; -o-transition: opacity 0.5s ease; -ms-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
.red h3, .red p {opacity: 0; -webkit-transition: opacity 2s ease-out; -o-transition: opacity 2s ease; -ms-transition: opacity 2s ease; transition: opacity 2s ease;}
.box .binary {font-family: 'Bitter', serif; width: 100%; opacity: 0.6}
.box h3 {margin-top: 15%;}
.binary p {margin-bottom: 0 !important; width: 100%; font-size: 17px; word-break: break-all; text-align: center;}
.binary .grad {background: -webkit-linear-gradient(#eee, #030314); -webkit-background-clip: text; -webkit-text-fill-color: transparent}
.red p {font-size: 18px; margin-top: 15px; line-height: 24px; color: #fff;}

/* contacto */
form, .mensaje {width: 60%; margin: 3rem auto;}
.name, .email {text-align: left !important; -moz-text-shadow: 0 0 5px #D50D0E; -webkit-text-shadow: 0 0 5px #D50D0E; text-shadow: 0 0 5px #D50D0E; color: #D50D0E !important}
#contact .form-group {margin-bottom: 1rem;}
#contact .form-control {font-family: 'Bitter', serif; border-radius: 3px; padding: 1.375rem .75rem;}
#contact button {width: 100%; background: #F61812; -moz-box-shadow: 0 0 5px #D50D0E; -webkit-box-shadow: 0 0 5px #D50D0E; box-shadow: 0 0 5px #D50D0E; border: none !important; border-radius: 3px; font-size: 18px; font-family: 'Bitter', serif; font-weight: 700; color: #030314; padding: 1.219rem .75rem; cursor: pointer;}
#contact button:disabled {cursor: not-allowed; background: #9e302d; -moz-box-shadow: 0 0 5px #9e302d; -webkit-box-shadow: 0 0 5px #9e302d; box-shadow: 0 0 5px #9e302d;}
::-webkit-input-placeholder {direction: rtl; font-family: 'Bitter', serif;}
:-moz-placeholder {direction: rtl; font-family: 'Bitter', serif;}
::-moz-placeholder {direction: rtl; font-family: 'Bitter', serif;}
:-ms-input-placeholder {direction: rtl; font-family: 'Bitter', serif;}
.mensaje p, .contactinfo p {font-family: 'Bitter', serif; font-size: 30px; font-weight: 700; -moz-text-shadow: 0 0 5px #D50D0E; -webkit-text-shadow: 0 0 5px #D50D0E; text-shadow: 0 0 5px #D50D0E; color: #D50D0E}

/* medias */
@media (max-width: 575px) {
	.desk {display: none !important;}
	.nodesk {display: block;}
	form, .mensaje {width: 100%; margin: 3rem auto;}
	#contact .form-group {margin-bottom: 1rem;}
	span.icon-bar {width: 28px; height: 4px; margin: 5px auto;}
	#cd-vertical-nav {right: 0px;}
  h1 {font-size: 30px; line-height: 33px;}
  .contactinfo p {font-size: 16px;}
  .binary p {font-size: 12px;}
  h3.serv {font-size: 28px;}
  .red p {font-size: 16px; line-height: 20px;}
  h2.services {font-size: 24px;}
  #wp, #ip, #wsa, #pp, #ha, #an {height: 300px;}
  .boxline {margin: 10px 0;}
  h2 {font-size: 16px;}
  h2 span.hilite {font-size: 19px;}
  .nav-wrapper .menu #accordion {width: 100vw;}
}

@media (min-width: 576px) and (max-width: 767px) {
	.desk {display: none !important;}
	.nodesk {display: block;}
	form, .mensaje {width: 100%; margin: 3rem auto;}
	#contact .form-group {margin-bottom: 1rem;}
	span.icon-bar {width: 28px; height: 4px; margin: 5px auto;}
	#cd-vertical-nav {right: 0px;}
  h1 {font-size: 30px; line-height: 33px;}
  .contactinfo p {font-size: 16px;}
  .binary p {font-size: 12px;}
  h3.serv {font-size: 28px;}
  .red p {font-size: 16px; line-height: 20px;}
  h2.services {font-size: 24px;}
  #wp, #ip, #wsa, #pp, #ha, #an {height: 300px;}
  .boxline {margin: 10px 0;}
  h2 {font-size: 16px;}
  h2 span.hilite {font-size: 19px;}
  .nav-wrapper .menu #accordion {width: 100vw;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.desk {display: none !important;}
	.nodesk {display: block;}
	form, .mensaje {width: 80%; margin: 3rem auto;}
	span.icon-bar {width: 28px; height: 4px; margin: 5px auto;}
	#cd-vertical-nav {right: 10px;}
  .nav-wrapper .menu #accordion {width: 100vw;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.nodesk {display: none;}
}

@media (min-width: 1200px) {
	.nodesk {display: none;}
}
